# Create or edit the .npmrc file with default values
#
# run npm init --scope=@my-org to make the scope private by default
init-author-name=Mark Pettigrew
init-author-email=mark.pettigrew@amd.com
init-license=none
init-version=1.0.0
